<div class="all">
  <div class="part">
    <mat-action-list *ngFor="let employee of allEmployee" class="listOfEntity">
      <button mat-list-item (click)="selectEmployee(employee)" class="buttonInList">{{employee.id}} {{employee.name}}
        {{employee.surname}}
      </button>
    </mat-action-list>
  </div>
  <div class="selected">
    <div>Выбранный работник:</div>
    <div *ngIf="err2!==null||err2!==undefined" style="color: red">{{err2}}</div>
    <mat-form-field>
      <input matInput required [(ngModel)]="selectedEmployee.name" placeholder="Введите имя">
    </mat-form-field>
    <mat-form-field>
      <input matInput required [(ngModel)]="selectedEmployee.surname" placeholder="Введите Фамилию">
    </mat-form-field>
    <div *ngIf="!checkOnSave">id отдела введено неверно</div>
    <mat-form-field>
      <mat-select placeholder="Введите id отдела" [(ngModel)]="selectedEmployee.divisionId">
        <mat-option *ngFor="let item of allDivision" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="!checkSaveIsBoss">true или false введено неверно</div>
    <mat-form-field>
      <mat-select placeholder="Выберите начальник или подчинённый" [(ngModel)]="selectedEmployee.isBoss">
        <mat-option *ngFor="let item of variableBoss" [value]="item.bool">
          {{item.boss}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button (click)="delete(selectedEmployee)"> delete</button>
      <button mat-raised-button (click)="update(selectedEmployee)" [disabled]="selectedEmployee===null"> save</button>
    </div>
  </div>
  <div class="created">
    <div>Создать работника:</div>
    <div *ngIf="err1!==null||err1!==undefined" style="color: red">{{err1}}</div>
    <div *ngIf="err22!==null||err22!==undefined" style="color: red">{{err22}}</div>
    <mat-form-field>
      <input matInput required [(ngModel)]="createdEmployee.name" placeholder="Введите имя">
    </mat-form-field>
    <mat-form-field>
      <input matInput required [(ngModel)]="createdEmployee.surname" placeholder="Введите Фамилию">
    </mat-form-field>
    <div *ngIf="!checkOnCreate">id отдела введено неверно</div>
    <mat-form-field>
      <mat-select placeholder="Введите id отдела" [(ngModel)]="createdEmployee.divisionId">
        <mat-option *ngFor="let item of allDivision" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="!checkCreateIsBoss">true или false введено неверно</div>
    <mat-form-field>
      <mat-select placeholder="Выберите начальник или подчинённый" [(ngModel)]="createdEmployee.isBoss">
        <mat-option *ngFor="let item of variableBoss" [value]="item.bool">
          {{item.boss}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="save(createdEmployee)"> add</button>
  </div>

</div>
