<mat-toolbar class="navigate">
  <div>
    <a mat-button [routerLink]="'/nameStage'">
      nameStage
    </a>
  </div>
  <div>
    <a mat-button [routerLink]="'/division'">
      division
    </a>
  </div>

  <div>
    <a mat-button [routerLink]="'/employee'">
      employee
    </a>
  </div>
  <div>
    <a mat-button [routerLink]="'/employeeStage'">
      employeeStage
    </a>
  </div>
  <div>
    <a mat-button [routerLink]="'/task'">
      task
    </a>
  </div>
  <div>
    <a mat-button [routerLink]="'/stage'">
      stage
    </a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

